@import 'theme/_theme.scss';

.text {
  font-size: $theme-font-size-sm;
  text-align: left;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}

.text-small {
  font-size: $theme-font-size-xs;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: $theme-font-bold;
}

.text-secondary {
  color: $theme-color-gray;
}