@import 'theme/_theme.scss';

.card {
  $padding-horizontal: 15px 10px;

  width: calc(100% - ($padding-horizontal * 2));
  height: auto;
  background-color: $theme-color-white;
  border-radius: $theme-misc-bRadius;
  transition: .2s ease-in-out;
  box-shadow: 0 10px 10px 0 rgba(32, 26, 66, 0.03);
  will-change: box-shadow;
  cursor: pointer;
  padding: 15px 10px;

  &:hover {
    box-shadow: $theme-shadow-card;
  }
}

.card-small {
  width: 120px;
  min-height: 150px;
  padding: 15px 10px;
}

.card-flex-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* Extra Small Devices */
@media (max-width: 576.98px) {
  .card-small {
    padding: 15px 0
  }
}