.product-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  > div {
    margin: 15px 10px;
  }
}

/* Extra Small Devices */
@media (max-width: 576.98px) {
  .product-list {
    justify-content: center;
  }
}