@import 'theme/_theme.scss';

.banner {
  @include calcFullWidth (100%, 30px);
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $theme-misc-bRadius;
  box-shadow: 0 10px 10px 0 rgba(0, 212, 200, 0.16);
  background-color: $theme-color-primary;
  padding: 30px 30px;
  margin: 30px 0;

  p {
    color: $theme-color-secondary;
    width: 80%;
    margin-bottom: 20px;
  }

  h1 {
    color: $theme-color-white;
    width: 80%;
  }
}

/* Extra Small Devices */
@media (max-width: 576.98px) {
  .banner {
    @include calcFullWidth (100%, 12px);
    padding: 30px 12px;

    p, h1 {
      width: 100%;
    }
  }
}